
@{
    ViewBag.Title = "AddContact";
}

<h2>İletişim Ekleme Sayfası</h2>



<form class="form-group" method="post">
    <input class="form-group" type="text" placeholder="Kullanıcı Adı" name="UserName" />
    <input class="form-group" type="email" placeholder="Kullanıcı Maili" name="UserMail" />
    <input class="form-group" type="text" placeholder="Konu" name="Subject" />
    <input class="form-group" type="text" placeholder="Mesaj" name="Message" />
    <button class="btn btn-info">Ekle</button>

</form>

