
@{
    ViewBag.Title = "AddWriter";
}

<h2>Writer Ekleme Sayfası</h2>

<form class="form-group" method="post">
    <input class="form-group" type="text" placeholder="Yazar Adı" name="WriterName" />
    <input class="form-group" type="text" placeholder="Yazar Soyadı" name="WriterSurname" />
    <input class="form-group" type="email" placeholder="Yazar Email" name="WriterEmail" />
    <input class="form-group" type="password" placeholder="Yazar Şifresi" name="Password" />
    <button class="btn btn-info">Ekle</button>

</form>
