
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DenemeLayout</title>
</head>
<body>
    <div>Yeni Layout Sabit Alanım</div>
    <div>1.Div</div>
    <div>2.Div</div>
    <div>3.Div</div>
    <div>4.Div</div>
    <div>@RenderBody()</div>
</body>
</html>
